*{
    font: normal 12px Tahoma, Helvetica, sans-serif;
}

a{
    color: #D90D15;
}

.container-fluid{
    padding: 0 10px;
}

.alert{
    margin: 5px 0 3px 0;
    border: 1px solid #FFFFFF;
    padding: 0 8px;
    height: 35px;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    border-radius: 0;
}

.alert-info{
    background: #fff292;
    color: #000000;
}

    .alert-info > b{
        color: #D90D15;
    }

    .alert-info .close{
        opacity: 1;
        margin-left: 14px;
        outline: none;
    }

        .alert-info .close:hover{
            color: #D90D15;
        }


.main-page-alert{
    display: none;
}
    .main-page-alert .pull-right{
        padding-top: 7px;
    }
        .main-page-alert .pull-right a.btn-link{
            color: #000000;
            font-size: 11px;
        }

.btn{
    height: 20px;
    line-height: 18px;
    padding: 0 8px;
    font-size: 12px;
}
.btn-primary{
    border: 1px #a83400 solid;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlODc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2E1MzEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2NlODc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODM0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ce8767 0%, #a53100 66%, #a83400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce8767), color-stop(66%,#a53100), color-stop(100%,#a83400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ce8767 0%,#a53100 66%,#a83400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ce8767 0%,#a53100 66%,#a83400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ce8767 0%,#a53100 66%,#a83400 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ce8767 0%,#a53100 66%,#a83400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce8767', endColorstr='#a83400',GradientType=0 ); /* IE6-8 */
}
.btn-primary:hover{
    border: 1px #a83400 solid;
    background: #a53100;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5);
}

.well{
    background: transparent;
    -webkit-border-radius: 3px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius: 3px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-radius: 3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

    .well.header{
        padding: 0;
        border-color: #FFFFFF;
        border-width: 1px 2px 3px 2px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(204,204,204,1);
        -moz-box-shadow: 0 2px 5px 0 rgba(204,204,204,1);
        box-shadow: 0 2px 5px 0 rgba(204,204,204,1);

        background: url("../images/header/header_top_back.png") repeat-x left -3px;
    }

        .well.header .col-md-1,
        .well.header .col-md-2,
        .well.header .col-md-3,
        .well.header .col-md-4,
        .well.header .col-md-5,
        .well.header .col-md-6,
        .well.header .col-md-7,
        .well.header .col-md-8,
        .well.header .col-md-9{
            padding: 0;
        }
        .well.header .row{
            margin-left: 0;
            margin-right: 0;
        }

        .well.header .brand{
            display: inline-block;
            padding: 4px 6px;
        }

        .well.header .first-nav-row{
            height: 40px;
        }

            .well.header .first-nav-row .dropdown{
                position: relative;
                padding-top: 14px;
            }

                .well.header .first-nav-row .dropdown:hover .dropdown-menu{
                   display: block;
                }

            .well.header .first-nav-row .dropdown-toggle{
                text-decoration: underline;
                line-height: 16px;
            }

                .well.header .first-nav-row .dropdown-toggle:hover{
                    color: #D90D15;
                    text-decoration: none;
                }

            .well.header .first-nav-row .dropdown-menu{
                position: absolute;
                top: 7px;
                left: -7px;
                padding: 2px 0;
                min-width: 40px;
                background: #f3f3f3;
            }

                .well.header .first-nav-row .dropdown-menu>li>a{
                    padding: 2px 6px;
                    color: #D90D15;
                    text-decoration: underline;
                }

                    .well.header .first-nav-row .dropdown-menu>li>a:hover{
                        background: transparent;
                        text-decoration: none;
                    }

            .well.header .first-nav-row .nav-pills{
                padding-top: 5px;
            }

                .well.header .first-nav-row .nav-pills > li > a{
                    padding-left: 0;
                    text-decoration: underline;
                }

                    .well.header .first-nav-row .nav-pills > li > a:hover {
                        text-decoration: none;
                        background: transparent;
                        color: #D90D15;
                    }
        .well.header .tabs-wrapper{
            padding: 0 10px 10px 10px;

            background: #ffeb5b;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZkYzczZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGM2NzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #ffeb5b 0%, #fdc73e 60%, #fdc673 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeb5b), color-stop(60%,#fdc73e), color-stop(100%,#fdc673));
            background: -webkit-linear-gradient(top,  #ffeb5b 0%,#fdc73e 60%,#fdc673 100%);
            background: -o-linear-gradient(top,  #ffeb5b 0%,#fdc73e 60%,#fdc673 100%);
            background: -ms-linear-gradient(top,  #ffeb5b 0%,#fdc73e 60%,#fdc673 100%);
            background: linear-gradient(to bottom,  #ffeb5b 0%,#fdc73e 60%,#fdc673 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb5b', endColorstr='#fdc673',GradientType=0 );

            border: 1px solid #fdc673;

            -webkit-border-top-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
        }

        .well.header .nav-tabs{
            border-bottom: none;
        }

            .well.header .nav-tabs>li>a{
                color: #5D2100;
                font-weight: bold;
                font-size: 13px;
                text-decoration: underline;
                padding: 5px 0;
                width: 96px;
                text-align: center;
                position: relative;
                z-index: 1;
                border-left: 1px solid #FFE51F;
                border-right: 1px solid #FFE51F;
                border-bottom: 0;
                border-top: 0;
                margin-right: -1px;
            }

                .well.header .nav-tabs>li>a:hover{
                    text-decoration: none;
                    background: transparent;
                }

            .well.header .nav-tabs>li.active>a{
                background: #fff3bc url("../images/header/active_r.gif") repeat-x left top;
                border-right-color: #FFFFFF;
                border-left-color: #FFFFFF;
                z-index: 2;
                text-decoration: none;
                box-shadow: none;
                border-radius: 0;
            }

        .well.header .tab-content{
            padding-top: 2px;
        }

            .well.header .tab-content form,
            .well.header .tab-content .form-group{
                width: 100%;
            }

            .well.header .tab-content .form-control{
                border-radius: 0;
                width: 90%;
                border: 1px solid #A3A3A3;
                color: #5E5E5E;
                height: 20px;
                line-height: 18px;
                padding: 0 20px 0 3px;
            }

            .well.header .tab-content .btn{
                margin-top: -2px;
            }

        .well.header .navbar{
            margin-bottom: 0;
        }

.ic-flag{
    display: block;
    float: left;
    width: 16px;
    height: 11px;
    margin: 2px 6px 0 0;
    background: url(../images/icons/flags_matrix.png) 0 0 no-repeat;
}
.ic-flag-ru{
    background-position: -288px -231px;
}
.ic-flag-ua{
    background-position: -336px -11px;
}
.ic-flag-en{
    background-position: -336px -121px;
}

.glyphicon-home,
.glyphicon-envelope{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 12px;
}

.glyphicon-home:before,
.glyphicon-envelope:before{
    content:" ";
}

.glyphicon-home{
    background: url("../images/header/header_icon_home.gif") no-repeat left top;
}
.glyphicon-envelope{
    background: url("../images/header/header_icon_contacts.gif") no-repeat left top;
}

.enter-form{
    margin-top: 4px;
    background: #999999;
    padding: 0 5px!important;
    border-top: 1px solid #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(101,101,101,0.91);
    -moz-box-shadow: 0px 0px 0px 1px rgba(101,101,101,0.91);
    box-shadow: 0px 0px 0px 1px rgba(101,101,101,0.91);
}

    .enter-form .form-group{
        padding-left: 2px;
    }

        .enter-form .form-group label{
            color: #FFFFFF;
        }

        .enter-form .form-group .form-control{
            border-radius: 0;
            width: 80px;
            padding: 0;
            font-size: 13px;
            line-height: 17px;
            height: 17px;
            text-indent: 2px;
            box-shadow: none;
        }

    .enter-form .btn-primary{
        margin: -4px 0 0 4px;
    }

    .enter-form .nav{
        float: left;
    }

    .enter-form .nav>li>a{
        padding: 0 0 2px 2px;
        color: #FFFFFF;
        font-size: 9px;
    }

        .enter-form .nav>li>a:hover{
            background: none;
            color: #FFE51F;
        }

    .enter-form .btn-info{
        float: right;
        margin-top: 2px;
        background: #6a6a6a;
        border-color: #6a6a6a;
        color: #FFE51F;
    }